mixin createInput(name, labelText, type)
	label(for=`form__${name}`).visually-hidden= "Enter " + labelText
	input(type=type, name=name, placeholder=labelText, id=`form__${name}`).form__input


mixin makeCakeArticle(modClass, fileName, altText, headline, text)
	figure(class="feature--"+modClass).feature

		picture.feature__pic
			source(media="(max-width: 767px)", srcset=`img/${fileName}@375.webp`)
			source(media="(min-width: 768px) and (max-width: 1439px)", srcset=`img/${fileName}@768.webp`)
			source(media="(min-width: 1440px)", srcset=`img/${fileName}@1440.webp`)
			img(src=`img/${fileName}.jpg`, alt=altText).feature__img

		figcaption.feature__caption
			h2.feature__header= headline
			p.feature__text= text
